body{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('https://th.bing.com/th/id/OIP.FGDVMsWJ-VFmn7YH_l6aMAHaE8?rs=1&pid=ImgDetMain');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}