*{
    margin: 0px;
    padding: 0px;
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    font-size: 32px;
    background-color: orangered;
}

.navigation > li> a{
    text-decoration: none;
}
.navigation > li{
    margin-top: 8px;
    margin-bottom: 8px;
}
a:hover{
color: black;
}
a:active{
    color: green;
}

.Hi{
    background-color: #ffffff;
    text-align: center;
    justify-content: center;
    margin-top: 45px;
}
h1>h2{
    margin-top: 35px;
}
.container>footer{
    height: 90vh;
}
.Hi img {
    border-radius: 50%;
    height : 240px;
}
footer {
    background-color: #f4f4f4;
    padding: 18px;
}

.contact-details {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    background-color: #504f4f;
}

.contact-details h3 {
    font-size: 1.5em;
    margin-bottom: 8px;
}

.contact-details p {
    margin: 5px 0;
}

body {
    background-color: #f0f0f0;
    color: #333;
  }
  
  /* Dark mode styles */
  body.dark-mode {
    background-color: #333;
    color: black;
  }
  
  /* Toggle switch styles */
  .toggle-container {
    display: flex;
    align-items: center;
  }
  
  .toggle-label {
    margin-right: 10px;
  }
  
  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    transition: .4s;
    border-radius: 34px;
  }
  
  .toggle-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .toggle-slider {
    background-color: #2196F3;
  }
  
  input:checked + .toggle-slider:before {
    transform: translateX(26px);
  }
